/*
    *  ----------------------------------------------------------------  *
    *  -----  styles-35.scss  --  /src/scss/pages/styles-35.scss  -----  *
    *  ----------------------------------------------------------------  *
*/


.demo__course {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.2rem;
    box-sizing: border-box;
    background-color: #e8effa;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

@media (min-width: 600px) {

    .demo__course {
        padding: 3rem 2rem;
    }
}


.course__card {
    width: 100%;
    max-width: 45rem;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: #ffffff;
}

@media (min-width: 480px) {

    .course__card {
        padding: 2rem;
    }
}


.card__title {
    display: grid;
    margin: 0 0 2rem;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
}

@media (min-width: 480px) {

    .card__title {
        font-size: 3rem;
    }
}


.card__title::before {
    content: attr(data-texto);
    grid-area: 1 / 1;
    visibility: hidden;
}


.title__typed {
    grid-area: 1 / 1;
}


.card__image {
    margin: 0 0 2rem;
}


.image__img {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
}


.card__price {
    margin: 0;
    text-align: center;
    color: #4d0084;
    font-weight: 700;
}


.card__btn {
    display: inline-block;
    width: 100%;
    min-height: 4.4rem;
    margin-top: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #a435f0;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}


.card__btn:hover {
    background-color: #8e69a7;
}
